{% extends 'accounts/base.html' %}
{% load humanize %}

{% block content %}

     <div class="pagetitle">
      <h1>{{employee.name.full_name}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'account_home' %}">Home</a></li>
          <li class="breadcrumb-item"><a href="{% url 'all_employees' %}">Employee</a></li>
          <li class="breadcrumb-item active">{{employee.name.full_name}}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


     <section class="section dashboard">

         <div class="row">
           <div class="col-xxl-2 col-md-2">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <img src="{{employee.name.image.url}}" alt="" height="150">
                </div>

              </div>
            </div><!-- End Sales Card -->
         </div>

         <div class="row">
            <h5 style="text-align:center;">Personal Details</h5>
            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Phone No.
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-phone"></i>
                    </div>
                    <div class="ps-3">
                      <h6><small></small>{{employee.name.phone_no}}</h6></div>
                  </div>
                </div>

              </div>
            </div>
             <!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Location</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-map"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{employee.name.place_of_residence}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Marital Status</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{employee.name.marital_status}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

             <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Date Of Birth</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-book"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{employee.name.birth_date}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

         </div>


         <div class="row">
            <h5 style="text-align:center;">Personal Details</h5>
            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">
                    Position
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-person"></i>
                    </div>
                    <div class="ps-3">
                      <h6><small></small>{{employee.position}}</h6></div>
                  </div>
                </div>

              </div>
            </div>
             <!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Appointment Date</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-map"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{employee.appointed_date}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Salary</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-cash"></i>
                    </div>
                    <div class="ps-3">
                      <h6>GHS {{employee.salary}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

             <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">

                <div class="card-body">
                  <h5 class="card-title">Appointment Letter</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-book"></i>
                    </div>
                    <div class="ps-3">
                      <h6><a href="{{employee.appointment_letter.url}}">Download</a></h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

         </div>


            <!-- Recent Sales -->
         <div class="row">
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">All Payments</h5>

                  <table class="table table-borderless datatable table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Date</th>
                        <th scope="col">Details</th>
                        <th scope="col">Amount (GHS)</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for item in payments %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{item.created_on}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.amount|intcomma}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div>
            <!-- End Recent Sales -->

          </div>
    </section>

{% endblock content %}