{% extends 'accounts/base.html' %}

{% block content %}

     <div class="pagetitle">
      <h1>Employees</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active">Employees</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


     <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-10">
          <div class="row">
            <!-- Sales Card -->
            <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">All Members</h5>

                  <table class="table table-borderless datatable table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Position</th>
                        <th scope="col">Member Name</th>
                        <th scope="col">Contact No.</th>
                        <th scope="col">Address</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Marital Status</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Auxiliary</th>
                        <th scope="col">Appointed Date</th>
                      </tr>
                    </thead>
                    <tbody>
                   {%for member in employees%}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>{{member.position}}</td>
                        <td>{{member.name.full_name}}</td>
                        <td>{{member.name.phone_no}}</td>
                        <td>{{member.name.place_of_residence}}</td>
                        <td>{{member.name.birth_date}}</td>
                        <td>{{member.name.marital_status}}</td>
                        <td>{{member.salary}}</td>
                        <td>{{member.appointed_date}}</td>
                        <td><a href="{% url 'employees_details' member.id %}"><i class="bi bi-eye btn btn-primary"></i></a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>

          </div>
        </div><!-- End Left side columns -->

      </div>
    </section>

{% endblock content %}