{% extends 'accounts/base.html' %}

{% block content %}

     <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'account_home' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


     <section class="section dashboard">
      <div class="row">
          <div class="col-lg-8">
              <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">
                        <a href="">Auxiliaries</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{auxiliary_count}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Families</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{family_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Ministries</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ministry_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

                <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">
                      <a href="{% url 'member_list' %}">Members</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{member_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->


          </div>
          </div>

          <div class="col-lg-4">
          </div>

      </div>
    </section>

{% endblock content %}