{% extends 'accounts/base.html' %}
{% load humanize %}

{% block content %}

     <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'account_home' %}">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


     <section class="section dashboard">
      <div class="row">
          <div class="col-lg-8">
              <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card sales-card">

                <div class="card-body">
                  <h5 class="card-title">
                        <a href="">Auxiliaries</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{auxiliary_count}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Families</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{family_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Revenue Card -->

            <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">Ministries</h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ministry_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->
                  <div class="col-xxl-3 col-md-3">
              <div class="card info-card revenue-card">


                <div class="card-body">
                  <h5 class="card-title">
                      <a href="{% url 'member_list' %}">Members</a>
                  </h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{member_count}}</h6>

                    </div>
                  </div>
                </div>

              </div>
            </div>
                <!-- End Revenue Card -->

          </div>
                <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="card-body">
                  <h5 class="card-title">Balances</h5>

                  <table class="table table-borderless datatable table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Cash Center</th>
                        <th scope="col">Item</th>
                        <th scope="col">Balance (GHS)</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in cash_flow%}
                        <tr>
                        <th scope="row"><a href="#">{{ forloop.counter }}</a></th>
                        <td>{{item.category}}</td>
                        <td><a href="{% url 'update_items' item.pk %}" class="text-primary">{{item.item_name}}</a></td>
                        <td><a href="{% url 'cashflow_detail' item.pk %}">{{item.balance}}</a></td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div>
            <!-- End Recent Sales -->
          </div>

          <div class="col-lg-4">
            <!-- Recent Activity -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Recent Cash Activity</h5>

              <div class="activity">

                {% for recent in  cash_flow_items%}
                  {% if recent.received_from %}
                    <div class="activity-item d-flex">
                      <div class="activite-label">{{recent.last_updated|naturaltime}}</div>
                      <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                      <div class="activity-content">
                        GHS {{recent.amount}} received for {{recent.item_name}}
                      </div>
                    </div><!-- End activity item-->
                  {% else %}
                    <div class="activity-item d-flex">
                      <div class="activite-label">{{recent.last_updated|naturaltime}}</div>
                      <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                      <div class="activity-content">
                        We paid <a href="#" class="fw-bold text-dark">GHS{{recent.amount}}</a> to {{recent.returned_to}}
                      </div>
                    </div><!-- End activity item-->
                  {% endif %}
                {% empty %}
                {% endfor %}

              </div>

            </div>
          </div><!-- End Recent Activity -->
          </div>

      </div>
    </section>

{% endblock content %}