{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

   <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{auxiliary.name}}</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{auxiliary.name}}</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section class="inner-page about" id="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About {{auxiliary.name}}</h2>
          <p>{{ auxiliary.profile_set.count }} members</p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="{{ auxiliary.deacon.url }}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">
            <h3 class="pt-0 pt-lg-5">Neque officiis dolore maiores et exercitationem quae est seda lidera pat claero</h3>

            <!-- Tabs -->
            <ul class="nav nav-pills mb-3">
              <li><a class="nav-link active" data-bs-toggle="pill" href="#tab1">Vision</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab2">Mission</a></li>
              <li><a class="nav-link" data-bs-toggle="pill" href="#tab3">{{auxiliary.name}} Leader's Speech</a></li>
            </ul><!-- End Tabs -->

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">

                <p class="fst-italic">Vision inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                </div>
                <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Incidunt non veritatis illum ea ut nisi</h4>
                </div>
                <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                </div>
                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

              </div><!-- End Tab 1 Content -->

              <div class="tab-pane fade show" id="tab2">

                <p class="fst-italic">Mission inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                </div>
                <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Incidunt non veritatis illum ea ut nisi</h4>
                </div>
                <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                </div>
                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

              </div><!-- End Tab 2 Content -->

              <div class="tab-pane fade show" id="tab3">

                <p class="fst-italic">Head Pastor's Speech inventore voluptates consequatur aut vel et. Eos doloribus expedita. Sapiente atque consequatur minima nihil quae aspernatur quo suscipit voluptatem.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Repudiandae rerum velit modi et officia quasi facilis</h4>
                </div>
                <p>Laborum omnis voluptates voluptas qui sit aliquam blanditiis. Sapiente minima commodi dolorum non eveniet magni quaerat nemo et.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Incidunt non veritatis illum ea ut nisi</h4>
                </div>
                <p>Non quod totam minus repellendus autem sint velit. Rerum debitis facere soluta tenetur. Iure molestiae assumenda sunt qui inventore eligendi voluptates nisi at. Dolorem quo tempora. Quia et perferendis.</p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Omnis ab quia nemo dignissimos rem eum quos..</h4>
                </div>
                <p>Eius alias aut cupiditate. Dolor voluptates animi ut blanditiis quos nam. Magnam officia aut ut alias quo explicabo ullam esse. Sunt magnam et dolorem eaque magnam odit enim quaerat. Vero error error voluptatem eum.</p>

              </div><!-- End Tab 3 Content -->

            </div>

          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Meeting Days and Time</h2>
        </div>

        <div class="row gy-4">

          <div class="col-lg-12" data-aos="zoom-in" data-aos-delay="200">
            <div class="pricing-item">

              <div class="pricing-header">

                {% if  meeting_time.days is not None %}
                  <h3>{{meeting_time.days}}</h3>
                  <h4>{{meeting_time.time}}</h4>
                {% endif %}

              </div>

            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">

            <div class="content px-xl-5">
              <h3>Frequently Asked <strong>Questions</strong></h3>
              <p>
                Common questions and answers of the {{auxiliary.name}} ministry.
              </p>
            </div>

            <div class="accordion accordion-flush px-xl-5" id="faqlist">

              {% for faq in faqs %}
                <div class="accordion-item" data-aos="fade-up" data-aos-delay="200">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    {{faq.question}}
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    {{faq.answer}}
                  </div>
                </div>
              </div><!-- # Faq item-->
              {% empty  %}
                <p>No Questions</p>
              {% endfor %}


            </div>

          </div>

          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{{auxiliary.group_img.url}}");'>&nbsp;</div>
        </div>

      </div>
    </section>
      <!-- End F.A.Q Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>{{auxiliary.name}}'s Executives</h2>
          <p>Below are the executives of {{auxiliary.name}}</p>
        </div>

        <div class="row gy-5">

          {% for executive in  executives%}
          <div class="col-xl-3 col-md-4 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{{executive.image.url}}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href="tel:+233{{executive.phone_no}}"><i class="bi bi-phone"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                </div>
                <h4>{{executive.full_name}}</h4>
                <span>{{executive.position}}</span>
              </div>
            </div>
          </div>
          <!-- End Team Member -->
          {% empty %}
            <p>No executive added yet</p>
          {% endfor %}
        </div>

      </div>
    </section>
      <!-- End Team Section -->

  <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for fam in  families %}
            <div class="swiper-slide">
              <a href="{{fam.get_absolute_url}}">
                <img src="{% static 'assets/img/shalom_logo.png' %}" class="img-fluid" alt="">
                <p class="text-center">{{fam.name}}</p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <section class="inner-page">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>{{auxiliary.name}} Members</h2>
          <p>Below are the {{auxiliary.name}} lists</p>
        </div>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Full Name</th>
              <th>Gender</th>
              <th>Address</th>
              <th>Phone No.</th>
              <th>Family</th>
            </tr>
          </thead>

          <tbody>
            {% for member in auxiliary.profile_set.all %}
              <tr>
                <td>{{member.full_name}}</td>
                <td>{{member.gender}}</td>
                <td>{{member.place_of_residence}}</td>
                <td>{{member.phone_no}}</td>
                <td>{{member.family.name}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </section><!-- End Inner Page --

{% endblock content %}