{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" data-aos="fade-up">

      <div class="container">

        <div class="section-header">
          <h2>Gallery</h2>
          <p>Below are some gallery of Shalom Baptist Family</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-service">Services</li>
            <li data-filter=".filter-youth">Youth</li>
            <li data-filter=".filter-projects">Projects</li>
            <li data-filter=".filter-others">Others</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row g-0 portfolio-container">

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/293147408_1723504967982532_5451359774540513913_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH1pBOMWUfTIloHjemGddFWr0Xt2kBsduWvRe3aQGx25QV20wEBvBA4BBW78ha_CAwTTdQoX14_k9H3T7p5AZXi&_nc_ohc=I5QNw0BIfb4AX-11_3W&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAbVBhWBnVYMGArGWu4ES4q4maMZQgmWTQKUm4jCq28OQ&oe=63CEAEC9" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/293147408_1723504967982532_5451359774540513913_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH1pBOMWUfTIloHjemGddFWr0Xt2kBsduWvRe3aQGx25QV20wEBvBA4BBW78ha_CAwTTdQoX14_k9H3T7p5AZXi&_nc_ohc=I5QNw0BIfb4AX-11_3W&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAbVBhWBnVYMGArGWu4ES4q4maMZQgmWTQKUm4jCq28OQ&oe=63CEAEC9" title="Sunday Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="{% static 'assets/img/portfolio/product-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <a href="{% static 'assets/img/portfolio/product-1.jpg' %}" title="Product 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 1</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Family Get Together</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Family Get Together" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Sunday Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="{% static 'assets/img/portfolio/product-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 2</h4>
                <a href="{% static 'assets/img/portfolio/product-2.jpg' %}" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Church Building</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Church Building" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Media Personnel</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Media Personnel" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cross Over</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Cross Over" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Lord's Supper" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Lord's Supper" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mr. Dennis Bofah</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Mr. Dennis Bofah" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Church Project</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Church Project" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Worship Service</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Worship Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Children's Department</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Children" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Leaders</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Leaders" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

{% endblock content %}