{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" data-aos="fade-up">

      <div class="container">

        <div class="section-header">
          <h2>Gallery</h2>
          <p>Below are some gallery of Shalom Baptist Family</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for gallery in  gallery_cat %}
              <li data-filter=".filter-{{gallery.category}}">{{gallery.category}}</li>
            {% endfor %}
          </ul><!-- End Portfolio Filters -->

          <div class="row g-0 portfolio-container">
            {% for gallery in  galleries %}
            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-{{gallery.category}}">
              <img src="{{gallery.image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{gallery.detail}}</h4>
                <a href="{{gallery.image.url}}" title="{{gallery.detail}}" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->
            {% endfor %}


          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

{% endblock content %}