{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio" data-aos="fade-up">

      <div class="container">

        <div class="section-header">
          <h2>Gallery</h2>
          <p>Below are some gallery of Shalom Baptist Family</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up" data-aos-delay="200">

        <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order">

          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-service">Services</li>
            <li data-filter=".filter-youth">Youth</li>
            <li data-filter=".filter-projects">Projects</li>
            <li data-filter=".filter-others">Others</li>
          </ul><!-- End Portfolio Filters -->

          <div class="row g-0 portfolio-container">

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/293147408_1723504967982532_5451359774540513913_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH1pBOMWUfTIloHjemGddFWr0Xt2kBsduWvRe3aQGx25QV20wEBvBA4BBW78ha_CAwTTdQoX14_k9H3T7p5AZXi&_nc_ohc=I5QNw0BIfb4AX-11_3W&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAbVBhWBnVYMGArGWu4ES4q4maMZQgmWTQKUm4jCq28OQ&oe=63CEAEC9" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/293147408_1723504967982532_5451359774540513913_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH1pBOMWUfTIloHjemGddFWr0Xt2kBsduWvRe3aQGx25QV20wEBvBA4BBW78ha_CAwTTdQoX14_k9H3T7p5AZXi&_nc_ohc=I5QNw0BIfb4AX-11_3W&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAbVBhWBnVYMGArGWu4ES4q4maMZQgmWTQKUm4jCq28OQ&oe=63CEAEC9" title="Sunday Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="{% static 'assets/img/portfolio/product-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 1</h4>
                <a href="{% static 'assets/img/portfolio/product-1.jpg' %}" title="Product 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="{% static 'assets/img/portfolio/branding-1.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Branding 1</h4>
                <a href="{% static 'assets/img/portfolio/branding-1.jpg' %}" title="Branding 1" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/321841854_705991531036469_7635007645353717616_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEoF-baNK3Vrb212YPn19FdOgzIbHQc7gw6DMhsdBzuDFSNQL0zNHB1Af8mOpiHi8x4UvkITPN7zFiU8X0LOVYH&_nc_ohc=yOyBEXxPkO8AX8isFh8&tn=-FzUUcvO100e75KN&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfA_7fVYsl9k6JVWJ5oA0nEAoR0cTywJvDij1_MIdpSLjw&oe=63CED3A8" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Family Get Together</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/321841854_705991531036469_7635007645353717616_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEoF-baNK3Vrb212YPn19FdOgzIbHQc7gw6DMhsdBzuDFSNQL0zNHB1Af8mOpiHi8x4UvkITPN7zFiU8X0LOVYH&_nc_ohc=yOyBEXxPkO8AX8isFh8&tn=-FzUUcvO100e75KN&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfA_7fVYsl9k6JVWJ5oA0nEAoR0cTywJvDij1_MIdpSLjw&oe=63CED3A8" title="Family Get Together" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/278666780_1660986857567677_6601652330249061381_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGSxA0ulXDGoSvM55T0J7HzUX7g7qJmtvlRfuDuoma2-WZmjmA8qe3ke19AR9NAzgpl7xZnPao3gQuZNqvRQcsz&_nc_ohc=t5YZo_pWXLwAX9SpIdY&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfBeKSpJziNtapicyJ40kQ-EfnUCjYtWpHbXa_WIwLypLw&oe=63CE04E3" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/278666780_1660986857567677_6601652330249061381_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGSxA0ulXDGoSvM55T0J7HzUX7g7qJmtvlRfuDuoma2-WZmjmA8qe3ke19AR9NAzgpl7xZnPao3gQuZNqvRQcsz&_nc_ohc=t5YZo_pWXLwAX9SpIdY&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfBeKSpJziNtapicyJ40kQ-EfnUCjYtWpHbXa_WIwLypLw&oe=63CE04E3" title="Sunday Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="{% static 'assets/img/portfolio/product-2.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Product 2</h4>
                <a href="{% static 'assets/img/portfolio/product-2.jpg' %}" title="Product 2" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/236322791_1490588831274148_6725181400591820630_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHpArgkn39rrRQ0raNjEa95WjuMbFgqsxVaO4xsWCqzFQ0l1wLK1S4ysGXK3dakUv03azCOdetGXtliLEwc1eXt&_nc_ohc=QcC7XzjG4gMAX_2q2z6&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAN1G4d2X3iVyq5itdIVuW217dp5oCIJhxwIswNGIHFRA&oe=63CE86D1" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Church Building</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/236322791_1490588831274148_6725181400591820630_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHpArgkn39rrRQ0raNjEa95WjuMbFgqsxVaO4xsWCqzFQ0l1wLK1S4ysGXK3dakUv03azCOdetGXtliLEwc1eXt&_nc_ohc=QcC7XzjG4gMAX_2q2z6&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAN1G4d2X3iVyq5itdIVuW217dp5oCIJhxwIswNGIHFRA&oe=63CE86D1" title="Church Building" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/321859495_491976369708228_4214638273352740885_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFXdSUkiGVAopzGGUGUCT52TbGciXWaZc1NsZyJdZplzXAjrtFuss8K6uLZos8wuNyhVBtTIAdd7Ti7r10sgV-Q&_nc_ohc=P9989BamEE8AX8UZWXu&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCVMUgJGFCakDhXzELfOVLcxEuwtZjaflTF3miKSGCMTA&oe=63CF4263" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Media Personnel</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/321859495_491976369708228_4214638273352740885_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFXdSUkiGVAopzGGUGUCT52TbGciXWaZc1NsZyJdZplzXAjrtFuss8K6uLZos8wuNyhVBtTIAdd7Ti7r10sgV-Q&_nc_ohc=P9989BamEE8AX8UZWXu&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCVMUgJGFCakDhXzELfOVLcxEuwtZjaflTF3miKSGCMTA&oe=63CF4263" title="Media Personnel" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/271191223_1589172994749064_9004868398354953325_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF2cU8ZPMLYMIJCoeU3DP6jO6BtdD26B8c7oG10PboHx743oN8SNcUnYWMzn57Ln-93dJdehWmxYTEfm8WoaYcW&_nc_ohc=RGFhkk0oDZcAX_GaPvq&_nc_oc=AQk5VLXT8Bxc7HrIORawRMLrk2w6A85Spg6UJ9JUUi259hw_B7UqV60I1113g_w5u-o&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfBE6rkS57ygh9wzTN_vY6oOxVhKMM89v8nl4-WmQ9gNog&oe=63CDCA15" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Cross Over</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/271191223_1589172994749064_9004868398354953325_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeF2cU8ZPMLYMIJCoeU3DP6jO6BtdD26B8c7oG10PboHx743oN8SNcUnYWMzn57Ln-93dJdehWmxYTEfm8WoaYcW&_nc_ohc=RGFhkk0oDZcAX_GaPvq&_nc_oc=AQk5VLXT8Bxc7HrIORawRMLrk2w6A85Spg6UJ9JUUi259hw_B7UqV60I1113g_w5u-o&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfBE6rkS57ygh9wzTN_vY6oOxVhKMM89v8nl4-WmQ9gNog&oe=63CDCA15" title="Cross Over" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/307460090_1774671126199249_7092183690947066128_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHczwRhqHgwzzkfGSX04N3gO5OLg8QzBl87k4uDxDMGX5aTezwSMdYAcgvkGnL8QJM8ZuraluMtuZuDwpI4i9Ld&_nc_ohc=SAi0b1P1KAcAX9FlJDj&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfDsEodK6KgIULarvyE7kwI5i5sT64EYTRk_AXBiuUwwtQ&oe=63CF12C6" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/307460090_1774671126199249_7092183690947066128_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHczwRhqHgwzzkfGSX04N3gO5OLg8QzBl87k4uDxDMGX5aTezwSMdYAcgvkGnL8QJM8ZuraluMtuZuDwpI4i9Ld&_nc_ohc=SAi0b1P1KAcAX9FlJDj&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfDsEodK6KgIULarvyE7kwI5i5sT64EYTRk_AXBiuUwwtQ&oe=63CF12C6" title="Lord's Supper" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-service">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/275059959_1632041140462249_3175972086972423688_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGHVONr5eiSoO3cEL1lxYgpil-4OcK3jcmKX7g5wreNyb2fPELPjrqF-Dq_S59npzNxOxj92aL1SfaK4igVFRc-&_nc_ohc=Z9ah2IcE7dUAX8St0Yx&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCqvglbeK7qEFDghUVX9N3pCPx_LhLsRr5zga5LsNdQWg&oe=63CD7D1A" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sunday Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/275059959_1632041140462249_3175972086972423688_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGHVONr5eiSoO3cEL1lxYgpil-4OcK3jcmKX7g5wreNyb2fPELPjrqF-Dq_S59npzNxOxj92aL1SfaK4igVFRc-&_nc_ohc=Z9ah2IcE7dUAX8St0Yx&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCqvglbeK7qEFDghUVX9N3pCPx_LhLsRr5zga5LsNdQWg&oe=63CD7D1A" title="Lord's Supper" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-youth">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/263152201_1568176563515374_7694648194675631714_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHo8kkfttIPy3owdIYIHsWc2TDRURkweqjZMNFRGTB6qIzfiikkFgr0t3c_13CYT-66jetOzreVIJ8qQPRavxzm&_nc_ohc=ah4fft3yvWUAX8HV53U&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCdd-7ljAJq8tbXC0ApRQPROKGDicD_EAo2vR6URo7X8A&oe=63CE28B9" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Mr. Dennis Bofah</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/263152201_1568176563515374_7694648194675631714_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeHo8kkfttIPy3owdIYIHsWc2TDRURkweqjZMNFRGTB6qIzfiikkFgr0t3c_13CYT-66jetOzreVIJ8qQPRavxzm&_nc_ohc=ah4fft3yvWUAX8HV53U&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCdd-7ljAJq8tbXC0ApRQPROKGDicD_EAo2vR6URo7X8A&oe=63CE28B9" title="Mr. Dennis Bofah" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-projects">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/272623545_1603382256661471_5306583189400972620_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGAudMhJZyGXzMhdqw3lvLIx0MxN7XHPgLHQzE3tcc-AveZz8Fa_18Avb2qTBNJLrwffTl-_vV8vDBhMrhe4FcC&_nc_ohc=yJ36S9mCOnoAX8r6R-g&_nc_oc=AQlNMRVrmqzz1iW-AYpoZhBruTg3bj0mihi2Jo-qxXNDI7wsIbm5K7fZNe3OTaAGvLg&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCk7rrMnh4BOIq-eRWtjEM1omGo5Tv2mcv4ucXxReQyVw&oe=63CE8946" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Church Project</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/272623545_1603382256661471_5306583189400972620_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGAudMhJZyGXzMhdqw3lvLIx0MxN7XHPgLHQzE3tcc-AveZz8Fa_18Avb2qTBNJLrwffTl-_vV8vDBhMrhe4FcC&_nc_ohc=yJ36S9mCOnoAX8r6R-g&_nc_oc=AQlNMRVrmqzz1iW-AYpoZhBruTg3bj0mihi2Jo-qxXNDI7wsIbm5K7fZNe3OTaAGvLg&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfCk7rrMnh4BOIq-eRWtjEM1omGo5Tv2mcv4ucXxReQyVw&oe=63CE8946" title="Church Project" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/306275410_1781801072152921_6102763640244731059_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFY7zSGmMfEgS0R5AQ5c3OuoQzV2iUzAdChDNXaJTMB0PgWRe0uEMkc0QQPwu_9Rq44u5fEtVpgu4V2mSUWBjkI&_nc_ohc=shczsWWm5fcAX84oaFy&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfD32b6___xwHm8g9LZlYGImQkT0mWJ_FQRZJOlERDvATA&oe=63CDC80F" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Worship Service</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/306275410_1781801072152921_6102763640244731059_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeFY7zSGmMfEgS0R5AQ5c3OuoQzV2iUzAdChDNXaJTMB0PgWRe0uEMkc0QQPwu_9Rq44u5fEtVpgu4V2mSUWBjkI&_nc_ohc=shczsWWm5fcAX84oaFy&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfD32b6___xwHm8g9LZlYGImQkT0mWJ_FQRZJOlERDvATA&oe=63CDC80F" title="Worship Service" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/292244258_1718779295121766_8792069005396904454_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH4y2B8RodsPRQDj3j3XKCCt3owmOMDUsq3ejCY4wNSysWO-9fk12rhxPd3gTT6jKb15vjRc5GT7x6lb6FOnbfx&_nc_ohc=vW-KLIBFicQAX_kOaSY&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAXZaiG-Ib6IGZkKbvqWcw9Iic0hmPhOvo5BD87m4iUXw&oe=63CECA55" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Children's Department</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/292244258_1718779295121766_8792069005396904454_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeH4y2B8RodsPRQDj3j3XKCCt3owmOMDUsq3ejCY4wNSysWO-9fk12rhxPd3gTT6jKb15vjRc5GT7x6lb6FOnbfx&_nc_ohc=vW-KLIBFicQAX_kOaSY&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfAXZaiG-Ib6IGZkKbvqWcw9Iic0hmPhOvo5BD87m4iUXw&oe=63CECA55" title="Children" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

            <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item filter-others">
              <img src="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/277178408_1651150335217996_6651419702755391320_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGVL3uN59Et49kkC60SsDhRLdkQ_wqGq0ct2RD_CoarRxkrpbTzZeziEz5vTdgX67wMqMBODJqx0yXuTtyQm3mn&_nc_ohc=REDDaYhuPgYAX8YeXAv&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfB_NpniRHF6jEloJp0T9-fPuT5N-dhXTTifNo9wt9GqXg&oe=63CE4F4C" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Leaders</h4>
                <a href="https://scontent.facc1-1.fna.fbcdn.net/v/t39.30808-6/277178408_1651150335217996_6651419702755391320_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGVL3uN59Et49kkC60SsDhRLdkQ_wqGq0ct2RD_CoarRxkrpbTzZeziEz5vTdgX67wMqMBODJqx0yXuTtyQm3mn&_nc_ohc=REDDaYhuPgYAX8YeXAv&_nc_zt=23&_nc_ht=scontent.facc1-1.fna&oh=00_AfB_NpniRHF6jEloJp0T9-fPuT5N-dhXTTifNo9wt9GqXg&oe=63CE4F4C" title="Leaders" data-gallery="portfolio-gallery" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              </div>
            </div><!-- End Portfolio Item -->

          </div><!-- End Portfolio Container -->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

{% endblock content %}