{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Our History</li>
        </ol>
        <h2>Our History</h2>

      </div>
    </section><!-- End Breadcrumbs -->

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Our History</h2>
          <p>Below is the history of Shalom Baptist Church</p>
        </div>

        <div>
            <p>Shalom Baptist Church sprang from Ash-Town Baptist church. In May 1994, the church
                was started at the Wesco Practice School. We worshipped there until 2001 when the enemy
                struck and gave rise to dissension and strive within key members of the Church. Eventually,
                Shalom Baptist church had to suffer a huge and terrible plaque when how to gather the
                pieces was nothing but a daunting challenge.
            </p>

            <p>
                With the relentless efforts of some church faithfuls; some of which are still with us today, a
                new Church premise was acquired at the St. Anne’s Anglican School at ash-Town in 2002.
            </p>

            <p>
                It was at this time that the now current Head Pastor was invited to pastor the church. His
                first day at church March 2003, where he met only 18 members. Together, he stepped in
                the shoes of Nehemiah and started the rebuilding of the church. We located some past
                members of the church and talked them into come-back. Others responded in the
                affirmative and of course there were others who didn’t because they had already engaged
                themselves in active service in their newly found churches.
            </p>

            <p>
                In 2005, the church was challenged to relocate to Tafo, opposite the cemetery, where for
                the first time, we put up a temporal structure on a piece of land that belonged to the
                landlady whose house the church had rented a room for the pastor. We agreed to sojourn
                there for only three years. Obviously at the end of the three years, we were not ready to
                move; they simply had nowhere to go. We pleaded for an additional year which was
                reluctantly agreed to. It was around this time that the church got a hint of this land where
                the church is currently on; we bought them but sincerely earmarked if for the future church
                since it was far away from town and the whole area was yet to be habited by people.
            </p>

            <p>
                At the end of the one-year grace period, they decided to go for another appeal from the
                landlady so that we could prepare themselves better and find a more appropriate location
                not too far away from Tafo.
            </p>

            <p>
                That was when we were faced with the greatest challenge and trauma, tried as we did, the
                woman would not budge. Not even words from her pastor and other elders will convince
                her to allow the church for another year. What we didn’t realize was the fact that God was
                in charge and He hardened her heart just like He did to Pharaoh. Where were we to move
                to? Who do we contact for help? How do we get there? There were questions bit no
                answers!
            </p>

            <p>
                Eventually, there was only one choice; the choice that associated with the greatest risk of
                losing most members; the choice of bringing the church to rural community which was very
                distant to church members.
            </p>

            <p>
                After a revival in the last week of July 2009, we conditioned our minds and prepared to
                move into this <b>unknown place</b>. On 2nd August 2009, we had our first service under a tent
                on this land. The commitment of members and attendance that we feared of losing rather
                increased as the time goes by. Together we contributed our resources, time, energy,
                wisdom and intellect to get the ‘forest’ in the shape for our services.
            </p>
        </div>
    </div>
</section>

{% endblock content %}