{% extends 'base.html' %}
{% load static %}

  {% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Shalom Baptist Church</h1>
          <h2>Home of Possibilities</h2>

<!--          {% if user.is_authenticated%}-->
<!--            <a href="" class="btn-get-started scrollto">Donate Now</a>-->
<!--          {% else %}-->
<!--            <a href="{% url 'join' %}" class="btn-get-started scrollto">Join Now</a>-->
<!--          {% endif %}-->
          <a href="{% url 'initiate-payment'  %}" class="btn-get-started scrollto">Donate Now</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Clients Section ======= -->
    {% include 'helpers/families.html' %}
    <!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>About Shalom Baptist Church</h3>
              <p>
                Shalom Baptist Church sprang from Ash-Town Baptist church. In May 1994, the church was started at the Wesco Practice School.
              </p>
              <a href="{% url 'history' %}" class="about-btn"><span>Our History</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Mision</h4>
                  <p>Our purpose is to exalt God and to honour our Lord and Saviour Jesus Christ, carry out his command to
                    make disciples of all nations and also teach them to obey all that He commands <b>(Matt 28:18-20)</b> and to
                  grow into maturity.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Vision</h4>
                  <p>Be people-friendly, creative and have inspiring worship through teaching and preaching that is biblical
                  and relevant to life. Have vital and supportive fellowship through the creation of outreach opportunities
                  into the communities, district, municipality, metropolis, and nation in service and evangelism. Also have
                  an auditorium designed to minister to the total person-spiritually, emotionally, physically and socially set
                  in a peaceful inspiring garden.</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <a href="{% url 'branches' %}">
              <div class="count-box">
                <i class="bi bi-emoji-smile"></i>
                <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
                <p>Branches</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <a href="{% url 'ministries' %}">
              <div class="count-box">
                <i class="bi bi-headset"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{ministries_count}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Ministries</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <a href="{% url 'families' %}">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{family_count}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Families</p>
              </div>
            </a>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <a href="{% url 'members' %}">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span data-purecounter-start="0" data-purecounter-end="{{member_count}}" data-purecounter-duration="1" class="purecounter"></span>
                <p>Members</p>
              </div>
            </a>
          </div>

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Head Pastor's Speech</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Our Evangelism Team</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Upcoming Events</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">This Weeks Birthdays</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Rev's Welcome Speech</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'assets/img/rev2.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>The prophet Isaiah wrote: </h3>
                <p>
                  “Seek the LORD while He may be found, call upon Him while He is near. Let the wicked forsake his way, and the unrighteous man his thoughts; let him return to the LORD, and He will have mercy on him; and to our God, for He will abundantly pardon”.
                </p>
                <p class="fst-italic">
                  (Isaiah 55:6-7)
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul>
                <a href="{% static 'assets/Evangelism-Tracts.pdf' %}" class="read-more align-self-start"><span>How Can I Stop This? </span><i class="bi bi-download"></i></a>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/bible.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Our Upcoming Events</h3>
                <p>
                  Below are the major upcoming events.
                </p>
                <ul>
                  {% for event in upcoming_events %}
                    <li><i class="ri-check-double-line"></i>{{event.event}} on {{event.date}}</li>
                  {% empty %}
                    <p>No upcoming events</p>
                  {% endfor %}
                </ul>
                <a href="#" class="read-more align-self-start"><span>Sunday Service Slides </span><i class="bi bi-download"></i></a>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/shalom_2023.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Birthdays for this week</h3>
                <p>
                  The Shalom Family wishes you a happy birthday. May our God continue to bless you.
                </p>
                <ul>
                  {% for birthday in birthdays %}
                    <li><i class="ri-check-double-line"></i>{{birthday.full_name}} on {{birthday.birth_date|date:"l"}}.
                      <a href="tel:{{birthday.phone_no}}" title="{{birthday.phone_no}}">Call</a> to wish him/her.</li>
                  {% empty %}
                    <p>No birthdays</p>
                  {% endfor %}
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/bday.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Tabs Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg ">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>These are the various services held by the church every week if there is no major event.</p>
        </div>

        <div class="row">
          {% for service in services %}
            <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="{{service.get_absolute_url}}">{{service.name}}</a></h4>
              <p>{{service.times}}</p>
              <p>{{service.days}}</p>
            </div>
          </div>
          {% empty %}
          <p>No service added yet</p>
          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Clients Section ======= -->
    {% include 'helpers/aux.html' %}
    <!-- End Clients Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Below are some of the testimonials of members. Click <a href="{% url 'create_testimony' %}">here</a> to add a testimonial.</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for testimony in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{ testimony.image.url }}" class="testimonial-img" alt="{{ testimony.full_name }}">
                  <h3>{{ testimony.full_name }}</h3>
                  <h4>{{ testimony.added_date }}</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    {{ testimony.testimony }}
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% empty %}
              <p style="text-align:center;">No Testimony Added Yet</p>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Sunday Services</h2>
          <p>Below are our Sunday activities</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>1st (English) Service</h3>
              <h4>7:00<sup> am</sup> - 8:30<sup> am</sup></h4>
              <ul>
                <li>Worship & Praise</li>
                <li>Tithe and Offering</li>
                <li>Sermon</li>
                <li>Announcement(s)</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Family Meeting</h3>
              <h4>8:30<sup> am</sup> - 9:30<sup> am</sup></h4>
              <ul>
                <li>Introduction</li>
                <li>Bible Studies</li>
                <li>Announcement(s)</li>
                <li></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>2nd (Twi) Service</h3>
              <h4>9:30<sup> am</sup> - 11:30<sup> am</sup></h4>
              <ul>
                <li>Worship & Praise</li>
                <li>Tithe and Offering</li>
                <li>Sermon</li>
                <li>Announcement(s)</li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <ul class="faq-list accordion" data-aos="fade-up">
          {% for faq in faqs %}
            <li>
            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq-content-{{faq.id}}">{{faq.question}} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq-content-{{faq.id}}" class="collapse" data-bs-parent=".faq-list">
              <p>
                {{faq.answer}}
              </p>
            </div>
          </li>
          {% empty  %}
            <p>No Questions</p>
          {% endfor %}


        </ul>

      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Our Leadership</h2>
          <p>Below is the leadership of the Shalom Baptist Church.</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/pastor_.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:+233244627253" class="google-plus"><i class="bi bi-phone"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=233244627253" class="google-plus"><i class="bi bi-whatsapp"></i></a>
                  <a href="https://web.facebook.com/eaappiah" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Rev. Ernest Amoah Appiah</h4>
                <span>Head Pastor</span>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/oye_3.png' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="tel:+2233244630012" class="google-plus"><i class="bi bi-phone"></i></a>
                  <a href="https://api.whatsapp.com/send?phone=233244630012" class="google-plus"><i class="bi bi-whatsapp"></i></a>
                  <a href="https://web.facebook.com/enoch.oye.5" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Deacon Oye Enoch</h4>
                <span>Deacon Head</span>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9423.66263821907!2d-1.5734697022284996!3d6.750080318721933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdbbf0ef83097e9%3A0x3a8c20b6f8522e65!2sShalom%20Baptist%20Church!5e0!3m2!1sen!2sgh!4v1670070436803!5m2!1sen!2sgh" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div><!-- End Google Maps -->

        <div class="row mt-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-5">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>Adwuman, Kenyase-Fawode Stretch, Kumasi</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@example.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+233 24 462 7253</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-7">
            <form action="{% url 'home' %}" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="text" class="form-control" name="phone" id="text" placeholder="Your Phone Number" required>
                </div>
              </div>
              <div class="form-group mt-1">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" required rows="5"></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock content %}