{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Leadership</li>
        </ol>
        <h2>Our Leadership</h2>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="bi bi-person"></i>
              <h4 class="d-none d-lg-block">Head Pastor</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="bi bi-person"></i>
              <h4 class="d-none d-lg-block">Senior Deacon</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="bi bi-people"></i>
              <h4 class="d-none d-lg-block">Church Council</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="bi bi-people"></i>
              <h4 class="d-none d-lg-block">Deacons</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Reverend Ernest A. Appiah</h3>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li>
                </ul>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'assets/img/pastor.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Mr. Enoch Oye</h3>
                <p>
                  “Seek the LORD while He may be found, call upon Him while He is near. Let the wicked forsake his way, and the unrighteous man his thoughts; let him return to the LORD, and He will have mercy on him; and to our God, for He will abundantly pardon”.
                </p>
                <p class="fst-italic">
                  (Isaiah 55:6-7)
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                  <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                </ul>
                <a href="{% static 'assets/Evangelism-Tracts.pdf' %}" class="read-more align-self-start"><span>How Can I Stop This? </span><i class="bi bi-download"></i></a>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/mr_oye.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>The Church Council</h3>
                <p>
                  The Church Council Members of the Church
                </p>
                <ul>
                  {% for member in councils %}
                    <li><i class="ri-check-double-line"></i>{{member.full_name}}</li>
                  {% empty %}
                    <p>No council member added</p>
                  {% endfor %}
                </ul>
                <a href="{% url 'council' %}" class="read-more align-self-start"><span>Visit Council Page</span></a>
              </div>
              <div class="col-lg-4 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/shalom_2023.jpg' %}" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-8 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Church Deacons</h3>
                <p>
                  The Deacons of the Church
                </p>
                <ul>
                  {% for deacon in deacons %}
                    <li><i class="ri-check-double-line"></i>{{member.full_name}}</li>
                  {% empty %}
                    <p>No Deacon member added</p>
                  {% endfor %}
                </ul>
                <a href="{% url 'council' %}" class="read-more align-self-start"><span>Visit Deacons Page</span></a>
              </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Tabs Section -->
{% endblock content %}