{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>{{ service.name }}</li>
        </ol>
        <h2>{{ service.name }}</h2>

      </div>
    </section>
    <!-- End Breadcrumbs -->


    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3><em>{{ service.name }}</em></h3>
            <p>{{ service.times }}</p>
            <p>{{ service.days }}</p>
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{{ service.image.url }}" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section>
      <!-- End Call To Action Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
          <div class="section-title">
              <h2>Sermon Collections</h2>
              <p>Below are the past sermons. You can listen to the audio or download them.</p>
          </div>

        <div class="row">
            {% for sermon in sermons %}
                <div class="col-lg-3 col-md-6">
                    <a href="{{sermon.file.url}}" target="_blank">
                        <div class="count-box">
                          <i class="bi bi-cassette color-cyan"></i>
                            <h4>{{sermon.title}}</h4>
                          <p>By: {{sermon.preacher}}</p>
                          <p>On: {{sermon.date}}</p>
                        </div>
                    </a>
                  </div>
            {% empty %}
              <p>No Sermon Added</p>
            {% endfor %}

        </div>

      </div>
    </section>
    <!-- End Counts Section -->

{% endblock content %}