{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Working Hours</li>
        </ol>
        <h2>Working Hours</h2>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Office Hours</h2>
          <p>We are at the office during these times.</p>
          <p>Open(Green) / Closed(Red)</p>
        </div>

        <div class="row">
          {% for hours in office_hours %}
            <div class="col-lg-6 col-md-6">
              {% if hours.at_office %}
                <div class="box featured" data-aos="fade-up" data-aos-delay="100" style="background-color: green;">
                  <h3>{{hours.position}}</h3>
                  <h4>{{hours.position.name.full_name}}</h4>
                  <ul>
                    <li>{{hours.office_days}}: {{hours.office_hours}}</li>
                    <li>{{hours.position.name.phone_no}}</li>
                  </ul>
                </div>
              {% else %}
                <div class="box featured" data-aos="fade-up" data-aos-delay="100">
                  <h3>{{hours.position}}</h3>
                  <h4>{{hours.position.name.full_name}}</h4>
                  <ul>
                    <li>{{hours.office_days}}: {{hours.office_hours}}</li>
                    <li>{{hours.position.name.phone_no}}</li>
                  </ul>
                </div>
              {% endif %}
              </div>
          {% empty %}
            <p>No worker added yet</p>
          {% endfor %}
        </div>

      </div>
    </section>
    <!-- End Pricing Section -->

{% endblock content %}