{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Login</li>
        </ol>
        <h2>Login</h2>

      </div>
    </section>
    <!-- End Breadcrumbs -->


<section id="contact" class="contact">
    <br>
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Log In</h2>
          <p>Fill the form below to Log In</p>
        </div>

        <div class="container">

        <div>

          <div>
            <form action="" method="POST" role="form" class="register">
                {% csrf_token %}
                <input type="text" class="box" placeholder="enter your username" name="username">
                <input type="password" class="box" placeholder="enter your password" name="password" id="myInput-1">
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password"></span>
                <input type="submit" value="login now" class="btn btn-primary">
                <p>Forgot password? <a href="{% url 'password_reset' %}">click here</a></p>
                <p>Not a member? <a href="{% url 'join' %}">join now</a></p>

                <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </div>
</section>

{% endblock content %}