{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Reset Password</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Reset Password</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->


    <section class="container">
        <div class="col-lg-5">
            <form action="" method="post" class="email-reset">
                {% csrf_token %}
                    {{ form|crispy }}
                <br>
                <input type="submit" value="Request Password Reset" class="btn btn-primary">
            </form>
        </div>
    </section>
{% endblock %}