{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <!-- ======= Breadcrumbs ======= -->
      <section class="breadcrumbs">
        <div class="container">

          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>{{ profile.user.username }}</li>
          </ol>
          <h2>{{ profile.full_name }} (SBC-00{{profile.id}})</h2>

        </div>
      </section>
    <!-- End Breadcrumbs -->


    <!-- ======= Call To Action Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-out">

        <div class="row g-5">

          <div class="col-lg-8 col-md-6 content d-flex flex-column justify-content-center order-last order-md-first">
            <h3><em>{{ profile.full_name }}</em> (SBC-00{{ profile.id }})</h3>
            <p><a href="{{ profile.family.get_absolute_url }}">{{ profile.family }}</a></p>
            <p><a href="{{ profile.auxiliary.get_absolute_url }}">{{ profile.auxiliary }}</a></p>
            <p>{{ profile.phone_no }}</p>

            {% if profile.full_name %}
              {% if user.is_authenticated %}
              <a class="cta-btn align-self-start" href="{% url 'edit_profile' profile.user %}">Edit Profile</a>
<!--              <a class="cta-btn align-self-start" href="">Contribute</a>-->
              {% endif %}
            {% else %}
              <p>Complete your profile</p>
              {% if user.is_authenticated %}
              <a class="cta-btn align-self-start" href="{% url 'edit_profile' profile.user %}">Complete Profile</a>
              {% endif %}
            {% endif %}
          </div>

          <div class="col-lg-4 col-md-6 order-first order-md-last d-flex align-items-center">
            <div class="img">
              <img src="{{ profile.image.url }}" alt="" class="img-fluid">
            </div>
          </div>

        </div>

      </div>
    </section>
      <!-- End Call To Action Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
          <div class="section-title">
              <h2>My Contributions</h2>
              <p>Below are the summary of all your contributions.</p>
            </div>

        <div class="row">
            {% for payments in payment_summary %}
                  <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                      <i class="bi bi-cash color-cyan"></i>
                        <h4>{{payments.item_name}}</h4>
                        <p>GHS {{payments.dcount}}</p>
                    </div>
                  </div>
            {% empty %}
              <p>No payments recorded</p>
            {% endfor %}
        </div>

          {% if user.is_authenticated and request.user.id == profile.user.id %}
            <p style="text-align:center;">Click <a href="{% url 'statements' profile.id %}">HERE</a> to see your statements</p>
          {% endif %}

      </div>
    </section>
    <!-- End Counts Section -->

{% endblock content %}