{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<!--<section id="contact" class="contact">-->
<!--    <br>-->
<!--    <div class="container" data-aos="fade-up">-->
<!--        <div class="section-header">-->
<!--          <h2>Create An Account</h2>-->
<!--          <p>Fill the form below to be part of the Shalom Family.</p>-->
<!--        </div>-->

<!--        <div class="container">-->

<!--        <div class="row gx-lg-5">-->

<!--          <div class="col-lg-4">-->

<!--            <div class="info">-->
<!--              <h3>Get in touch</h3>-->
<!--              <p>Et id eius voluptates atque nihil voluptatem.</p>-->

<!--              <div class="info-item d-flex">-->
<!--                <i class="bi bi-geo-alt flex-shrink-0"></i>-->
<!--                <div>-->
<!--                  <h4>Location:</h4>-->
<!--                  <p>Adwuman, Kenyase-Fawode Stretch, Kumasi</p>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; End Info Item &ndash;&gt;-->

<!--              <div class="info-item d-flex">-->
<!--                <i class="bi bi-envelope flex-shrink-0"></i>-->
<!--                <div>-->
<!--                  <h4>Email:</h4>-->
<!--                  <p>info@example.com</p>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; End Info Item &ndash;&gt;-->

<!--              <div class="info-item d-flex">-->
<!--                <i class="bi bi-phone flex-shrink-0"></i>-->
<!--                <div>-->
<!--                  <h4>Call:</h4>-->
<!--                  <p>+233 244 526273</p>-->
<!--                </div>-->
<!--              </div>&lt;!&ndash; End Info Item &ndash;&gt;-->

<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-lg-8">-->
<!--            <form action="" method="POST" role="form">-->
<!--                {% csrf_token %}-->
<!--                <input type="text" class="box" placeholder="enter your username" name="username" required>-->
<!--                <input type="email" class="box" placeholder="enter your email" name="email" required>-->
<!--                <input type="password" class="box" placeholder="enter your password" name="password" id="myInput-1" required>-->
<!--                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password"></span>-->
<!--                <input type="password" class="box" placeholder="confirm your password" name="password2" id="myInput-2" required>-->
<!--                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password-1"></span>-->
<!--                <input type="submit" value="create now" class="btn">-->
<!--                <p>already have an account? <a href="{% url 'login' %}">login</a></p>-->
<!--            </form>-->
<!--          </div>&lt;!&ndash; End Contact Form &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--</section>-->

<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Create an Account</h2>
          <p>Fill the form below to be part of the Shalom Family.</p>
        </div>

      </div>

      <div class="container">

        <div class="row gy-5 gx-lg-5">

          <div class="col-lg-4">

            <div class="info">
              <h3>Get in touch</h3>
              <p>Et id eius voluptates atque nihil voluptatem.</p>

              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Location:</h4>
                  <p>Adwuman, Kenyase-Fawode Stretch, Kumasi</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Call:</h4>
                  <p>+233 244 526273</p>
                </div>
              </div><!-- End Info Item -->

            </div>

          </div>

          <div class="col-lg-8">
            <form action="" method="POST" role="form">
                {% csrf_token %}
                <input type="text" class="box" placeholder="enter your username" name="username" required>
                <input type="email" class="box" placeholder="enter your email" name="email" required>
                <input type="password" class="box" placeholder="enter your password" name="password" id="myInput-1" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password"></span>
                <input type="password" class="box" placeholder="confirm your password" name="password2" id="myInput-2" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password-1"></span>
                <input type="submit" value="create now" class="btn">
                <p>already have an account? <a href="{% url 'login' %}">login</a></p>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock content %}