{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Create SBC Account</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Create Account</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-header">
          <h2>Create an Account</h2>
          <p>Fill the form below to be part of the Shalom Family.</p>
        </div>

      </div>

      <div class="container">

        <div>

          <div>
            <form action="" method="POST" role="form" class="register">
                {% csrf_token %}
                <input type="text" class="box" placeholder="enter your username" name="username" required>
                <input type="email" class="box" placeholder="enter your email" name="email" required>
                <input type="password" class="box" placeholder="enter your password" name="password" id="myInput-1" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password"></span>
                <input type="password" class="box" placeholder="confirm your password" name="password2" id="myInput-2" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon-1 toggle-password-1"></span>
                <input type="submit" value="create now" class="btn btn-primary">
                <p>Already have an account? <a href="{% url 'login' %}">login</a></p>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

{% endblock content %}