    {% load static %}


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            {% for fam in  auxiliaries %}
              <div class="swiper-slide">
                <a href="{{fam.get_absolute_url}}">
                    <!--                  <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">-->
                  <p class="auxiliaries">{{fam.name}}</p>
                </a>
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Clients Section -->