{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shalom Baptist Church | Home of Possibilities</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/shalom_logo.png' %}" rel="icon">
  <link href="{% static 'assets/img/shalom_logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
<!--      <h1 class="logo me-auto"><a href="{% url 'home' %}">SBC<span>.</span></a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="{% url 'home' %}" class="logo me-auto"><img src="{% static 'assets/img/shalom_logo.png' %}" alt=""></a>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="/#about">About Us</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="{% url 'leadership' %}">Leadership</a></li>
          <li class="dropdown"><a><span>Groups</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'council' %}">Church Council</a></li>
              <li><a href="{% url 'deacons' %}">Deacons</a></li>
              <li class="dropdown"><a><span>Families</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for fam in families %}
                      <li><a href="{{ fam.get_absolute_url }}">{{fam.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a><span>Auxiliaries</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for aux in auxiliaries %}
                      <li><a href="{{ aux.get_absolute_url }}">{{aux.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li class="dropdown"><a><span>Ministries</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  {% for min in ministries %}
                      <li><a href="{{ min.get_absolute_url }}">{{min.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="{% url 'contact' %}">Contact Us</a></li>
          <li class="dropdown"><a><span>Others</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'gallery' %}">Pictures</a></li>
              <li><a href="{% url 'books' %}">Books</a></li>
              <li class="dropdown"><a><span>Member Relations</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="{% url 'working_hours' %}">Office Hours</a></li>
                  <li><a href="{% url 'min_details' 3 %}">Welfare</a></li>
                  {% if user.is_authenticated%}
                    <li><a href="{% url 'employees' %}">Workers 🔓</a></li>
                    <li><a href="{% url 'account' %}">Accounts 🔓</a></li>
                    <li><a>Building Project 🔓</a></li>
                  {% else %}
                    <li><a>Workers 🔒</a></li>
                    <li><a>Accounts 🔒</a></li>
                    <li><a>Building Project 🔓</a></li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </li>
           {% if user.is_authenticated%}
           <li class="dropdown"><a><span>{{user.username}}</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{% url 'profile' request.user %}">Profile</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      {% if user.is_authenticated%}
        <a href="{% url 'initiate-payment'  %}" class="get-started-btn scrollto">Donate Now</a>
      {% else %}
        <a href="{% url 'join' %}" class="get-started-btn scrollto">Join Now</a>
      {% endif %}
    </div>
  </header><!-- End Header -->

  {% if messages %}
              <ul class="messages">
                     {% for message in messages %}
                      <section id="team" class="team">
                        <div class="container" data-aos="fade-up">
                          <div class="alert border-primary alert-dismissible fade show" role="alert">
                              {{ message }}
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>
                          </div>
                      </section>
                     {% endfor %}
             </ul>
          {% endif %}
  {% block content %}
  {% endblock content %}



  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="{% url 'home' %}" class="logo me-auto"><img src="{% static 'assets/img/shalom_logo.png' %}" alt="" height="50"></a>
            <p>
              Meduma New Site <br>
              Kumasi, Fawoade - Kenyasi Stretch<br>
              Ghana. <br><br>
              <strong>Phone:</strong> +233 24 462 7253<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'gallery' %}">Gallery</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'history' %}">History</a></li>
              {% if user.is_authenticated and  user.is_staff %}
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'join_accepted' %}">New Members</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'account_home' %}">Accounts</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="{% url 'subscribers_mail' %}">Subscribers Email</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              {% for aux in auxiliaries%}
                <li><i class="bx bx-chevron-right"></i> <a href="{{aux.get_absolute_url}}">{{aux.name}}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Subscribe to receive our newsletters</p>
            <form action="{% url 'subscribers' %}" method="post">
              {% csrf_token %}
              <input type="email" name="email" placeholder="Enter Your Email">
              <input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>SBC</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="https://allgifttechnologies.com/">Allgift Technolgies</a>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        {% if user.is_authenticated %}
            <a href="tel:+233244627253" class="google-plus"><i class="bi bi-phone"></i></a>
          {% else %}
            <a href="tel:+233244627253" class="google-plus"><i class="bi bi-phone"></i></a>
          {% endif %}
          <a href="https://api.whatsapp.com/send?phone=233244627253" class="google-plus"><i class="bi bi-whatsapp"></i></a>
          <a href="https://www.youtube.com/@shalombaptistchurch6140/videos" class="google-plus" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://web.facebook.com/baptistshalom?_rdc=1&_rdr" class="facebook" target="_blank"><i class="bi bi-facebook"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>